body{
    font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
    background-color: #ececec;
}

h1{
    color: darkred;
    letter-spacing: 16px;
    font-family: 'Nova Square';
    font-weight: bolder;
}

h2,h3,h4,h5,h6{
    color: darkred;
    letter-spacing: 6px;
    font-family: 'Nova Square';
    font-weight: bolder;
}

p{
    color: black;
}

a{
    color: grey;
    text-decoration: none;
}

a:hover{
    color: darkred;
}


.bg-header{
    background-image:url(./img/mountains2.png),linear-gradient(white,transparent),url(./img/img1.jpg),linear-gradient(transparent,grey);
    background-position: center;
    background-size: cover;
}

.border-bottom{
    border-bottom: 3px solid darkred !important;
}

.icon-color{
    color: darkred;
}

.style-button{
    background-color: darkred;
    border: none;
    padding: 4px;
    color: white;
    width: 150px;
}

.bg-pini{
    background-image: url(./img/trees2.png),linear-gradient(#ececec,transparent);
    background-position:center;
    background-size: cover;
    height: 100vh;
}

.bg{
    background-image: url(./img/landscape-975091_1920.jpg);
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
    border: 3px solid darkred;
    border-radius: 90px;
}

.img-pini{
    background-image: url(./img/single.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}


.margin-team{
    margin-top: 160px;
    text-align: center;
}

@media screen and(max-width:667px){
    .margin-team{
        margin-top: 130px;
    }
}

.img-rounded{
    border: 3px solid darkred;
    padding: 5px;
    border-radius: 100px;
}

.footer{
    background-image: url(./img/other.png);
    background-position: top;
    background-size: cover;
    height: 100vh;
}

.bg-dark-red{
    background-color: darkred;
    height: 300px;
}

@media screen and(max-width:657px){
    .bg-dark-red{
        height: 5000px;

    }
}